@model IEnumerable<JustInTime.DAL.Domain.Entities.CheckList>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/checklistindexstyle.css" />


<h1 id="pageTitle">My CheckLists List</h1>

<p>
    <a id="createButton" asp-action="Create">Create New</a>
</p>

<!--==================================this is first card=======================================-->
@foreach (var item in Model)
{
    <a class="home-button" id="mycard1button" asp-area="" asp-controller="Note" asp-action="Index">
        <div class="card">
            <div class="details">
                <div class="content">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <h6>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </h6>
                    <p>Click Me</p>
                </div>
            </div>

        </div>
    </a>
}
<!--==================================this is first card=======================================-->
@*
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.DateCreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CheckListId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CheckListId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@