@model IEnumerable<JustInTime.DAL.Domain.Entities.Note>
@{
    ViewData["Title"] = "Index";
}

<!--css style and js links here for this site.-->
<link rel="stylesheet" href="css/mynotes.css" />
<script defer src="js/mynotes.js"></script>

<!--this is Sakura blossom background (beginning)-->
<link rel="stylesheet" href="css/sakura.css" />
<script src="js/sakura.js" text="text/javascript"></script>

<script>
    var sakura = new Sakura('body', {
        colors: [
            {
                gradientColorStart: 'rgba(255, 183, 197, 0.9)',
                gradientColorEnd: 'rgba(255, 197, 208, 0.9)',
                gradientColorDegree: 120,
            },
            {
                gradientColorStart: 'rgba(255,189,189)',
                gradientColorEnd: 'rgba(227,170,181)',
                gradientColorDegree: 120,
            },
            {
                gradientColorStart: 'rgba(212,152,163)',
                gradientColorEnd: 'rgba(242,185,196)',
                gradientColorDegree: 120,
            },
        ],
        delay: 200,
    });
</script>
<!--this is Sakura blossom background (ending of code)-->

<!--this is the name of page(it will appear at the top of the site)-->
<h1>My Notes</h1>
<section class="hidden">
    <h1>My Notes</h1>
    <p>This is the list of notes</p>
</section>

<section class="hidden">
    <h2>Write Your Notes</h2>
    <p>
        Write whatever you want. You can write here you ideas.
    </p>
</section>


<!-- this is CREATE button-->
<section class="hidden">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <!-- this is CREATE button-->


    <!--this is search button start-->
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Search: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <!--this is search button end-->

    <table class="hidden">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
                </th>
                <th>
                   <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">DateCreated</a>
            </th>
                <th>
                    Type
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                 
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.NoteId">🖋</a> |
                        <a asp-action="Details" asp-route-id="@item.NoteId">Open</a> |
                        <a asp-action="Delete" asp-route-id="@item.NoteId">❌</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</section>



<section>
    <img src="~/lib/images/anime-note-taking.gif" alt="Note Taking" width="200"> <!--this is note taking anime photo-->
</section>
