@model IEnumerable<JustInTime.DAL.Domain.Entities.ToDo>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                    <input type="checkbox" checked="@item.IsDone" onclick="window.location.href = '/ToDo/ToggleIsDone/@item.ToDoId';" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToDoId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ToDoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@*



@foreach (var item in Model)
{
    <a class="home-button" id="mycard1button" asp-area="" asp-controller="ToDo" asp-action="Index">
        <div class="card">
            <div class="details">
                <div class="content">
                    <h3>
                        @Html.DisplayFor(modelItem => item.TaskDescription)
                    </h3>
                    <h6>
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </h6>
                    <p>Click Me</p>
                </div>
            </div>
            <a class="home-button" asp-action="Edit" asp-route-id="@item.CheckListId">Edit</a> |
            <a class="home-button" asp-action="Delete" asp-route-id="@item.CheckListId">❌</a>
        </div>
    </a>
}
    <h1>Todo List</h1>    
    <table class="table table-striped table-bordered table-hover" style="max-width: 500px;">
    <tr>            
        <td colspan="3">
        @using(var form = Html.BeginForm("Create", "ToDo", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.EditableItem.ToDoId)
            <div class="input-group">
            @Html.TextBoxFor(model => model.EditableItem.TaskDescription, new { @class = "form-control" })
            <div class="input-group-append">
                <button type="submit" class="btn btn-success">@(Model.EditableItem.ToDoId > 0 ? "Update" : "Add")</button>
            </div>
            </div>                
            @Html.ValidationSummary()
        }
        </td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
        <td>
            <input type="checkbox" checked="@item.IsDone" onclick="window.location.href = '/ToDo/ToggleIsDone/@item.ToDoId';" />
            <a href="/ToDo/Edit/@item.ToDoId">
            @item.TaskDescription
            </a>
        </td>
        <td class="text-right">
            @item.AddDate.ToShortDateString()
        </td>
        <td class="text-center">
            <a href="/ToDo/Delete/@item.ToDoId" onclick="return confirm('Are you sure?');" class="btn btn-sm btn-danger">Delete</a>
        </td>
        </tr>
    }
    </table>*@
