@using JustInTime.BLL.Controllers;
@model PaginatedList<JustInTime.DAL.Domain.Entities.GlobalNote>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/GlobalNotesIndex.css" />


<!--==================================the site begins here==============================================-->
    <h1 id="pageTitle">Global Ideas</h1>
    <p id="descriptionOfSite">This is Global Notes. Here you can share your ideas with the whole world.</p>

<!-- this is CREATE button-->

    <p >
        <a id="GlobalButton" asp-action="Create">Create New</a>
    </p>

    <!--this is search button start-->
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
        <p id="search">
            🔎: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="SEARCH" class="btn btn-default" /> 
            </p>
        </div>
    </form>

<a id="searchBack" asp-action="Index">BACK TO FULL LIST</a>
<!--this is search button end-->


<!--this is sort button start-->
<a id="SortButtons" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
<a id="SortButtons" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">DateCreated</a>
<!--this is sort button end-->


<!--=================================================Card Note=============================================-->
@foreach (var item in Model)
{
    <a class="home-button" id="mycard1button" asp-area="" asp-action="Details" asp-route-id="@item.Id">
        <div class="card">
            <div class="details">
                <div class="content">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <h6>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </h6>
                    <p>OPEN</p>
                </div>
            </div>
            <a asp-action="Edit" asp-route-id="@item.Id">🖋</a> |
           <a asp-action="Delete" asp-route-id="@item.Id">❌</a>
        </div>
    </a>
}
@*
    <table class="hidden">
        <thead>
            <tr>
                <th>
                    <a id="SortButtons" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
                </th>
                <th>
                <a id="SortButtons" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">DateCreated</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">🖋</a> |
                    <a id="GlobalButton" asp-action="Details" asp-route-id="@item.Id">Open</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">❌</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

*@

    <!--=====================================Pagination Buttons=========================================-->

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

<a id="NextPrevButtons" asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        ◀
    </a>
<a id="NextPrevButtons" asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        ▶
    </a>
